header {
    background-image: url("./images/header2.png");
    background-size: cover;
    background-position: center;
    padding: 0px;
    height: 300;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header nav {
    position: absolute;
    font-family: 'Red Hat Mono';
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
a{
    background-color: rgb(135, 141, 222);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color :white;
    padding : 10px 20px;
    border:3px solid black;
    /*border-radius: 50px;*/

}

a.button {
    background-color: white;
    color: rgb(135, 141, 222);
    border-radius: 50px;
    border: 2px solid black ;
    font-size: 18px;
    padding: 10px 15px;
}
section{
    background-image: url("./images/sfondoSE.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align : center;
}

#opzioni {
    display : flex;
    justify-content: space-between; 
    align-items: center;
}

#opzioni img {
    width : 80%;
    height : 300px;
}
